extends layout

block content
  h1 MD DB
  p.lead Patient Panel
  hr
  .row
    .col-sm-6
      h2 Alerts
      .panel.alert.alert-danger
        p Alerts are here
  if patients
    .row
      .col-sm-12
        h2 Patient Records
        table.table.table-hover
          thead
            tr
              th Patient ID
              th Name
              th Sex
              th Location
              th Phone
          tbody
            each patient in patients
                tr
                  td= patient.id
                  td
                    a(href='/patient/' + patient.id)= patient.name
                  td= patient.gender
                  td= patient.location
                  td= patient.phone

  .row#patient-form
    .col-sm-10
      h3 Add a new patient
      form.form-horizontal(id="new-patient-form", action="/new-patient", method="POST")
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='id') Patient ID
          .col-sm-7
            input.form-control(type='id', name='id', id='id', placeholder='Patient ID', autofocus)
        .form-group
          label.col-sm-3.control-label(for='name') Name
          .col-sm-7
            input.form-control(type='text', name='name', id='name', placeholder='name')
        .form-group
          label.col-sm-3.control-label(for='phone') Phone Number
          .col-sm-7
            input.form-control(type='text', name='phone', id='phone', placeholder='Phone Number')
        .form-group
          label.col-sm-3.control-label(for='sex') Sex
          .col-sm-7
            select.form-control(type='text', name='sex', id='sex')
              option(value="Man") Male 
              option(value="Woman") Woman
        .form-group
          label.col-sm-3.control-label(for='location') Location
          .col-sm-7
            input.form-control(type='text', name='location', id='location', placeholder='Location')
        .form-group
          label.col-sm-3.control-label(for='dob') Date of Birth
          .col-sm-7
            input.form-control(type='date', name='dob', id='dob', placeholder='Date of Birth')
        .form-group
          label.col-sm-3.control-label(for='pregnancy_date') Date of Pregnancy
          .col-sm-7
            input.form-control(type='date', name='pregnancy_date', id='pregnancy_date', placeholder='Date of Pregnancy')
        .form-group
          .col-sm-offset-3.col-sm-7
            button.btn.btn-success(type='submit')
              i.fa.fa-user-plus
              | Add Patient
