extends layout

block content
  h2 Patient Information
  p.lead Name: #{patient.name}
  p.lead Gender: #{patient.gender}
  p.lead Location: #{patient.location}
  p.lead Clinic: #{patient.clinic}
  p.lead Pregnancy Date: #{patient.pregnancy_date}
  h2 Data Log History
  .row
    .col-sm-12
      table(class="table")
        thead
          th Date Contacted
          th Sender
          th Messages
        tbody
        for object in responses
          td Nov 21 2015
          if object.type == "Response"
            td Patient
            if object.duration == ""
              td #{object.raw_data}
            else
              td #{object.feeling} for #{object.duration} days.
          else
            td Clinic
            if object.type == "Alert"
              #{object.raw_data}
            else
              td Response: #{object.raw_data}
          tr
  
  p.lead Additional Comments
    textarea(name="description", cols="4", rows="3", class="form-control") 
  