extends layout

block content
  h2 Patient Information
  p.lead Name: #{patient.name}
  p.lead Gender: #{patient.gender}
  p.lead Phone Number: #{patient.phone}
  p.lead Location: #{patient.location}
  p.lead Date of Birth: #{patient.dob}
  p.lead Pregnancy Date: #{patient.pregnancy_date}
  br
  h2 Action
  form(action='/patient/#{patient.id}/notify', method='post')
    input(type='hidden', name='_csrf', value=_csrf)
    button.btn.btn-success(type='submit')
      | Send SMS Notification
  br
  br
  h2 Data Log History
  .row
    .col-sm-12
      table(class="table")
        thead
          th Date Contacted
          th Sender
          th Messages
        tbody
        for object in responses
          if object.type == "Response"
            td #{object.createdAt.toDateString()}
            td.strongsize Patient
            if object.duration == ""
              td.strongsize #{object.raw_data}
            else
              td.strongsize #{object.feeling} for #{object.duration} days.
          else
            if object.type == "Alert"
              td.alert.alert-danger #{object.createdAt.toDateString()}
              td.alert.alert-danger Clinic
              td.alert.alert-danger #{object.raw_data}
            else
              td #{object.createdAt.toDateString()}
              td Clinic
              td Response: #{object.raw_data}
          tr

  p.lead Additional Comments
    textarea(name="description", cols="4", rows="3", class="form-control")
